# Call insar_pair.yml for n+1, n+2, n+3 pairs for a given burst & year
name: InSAR_Timeseries
run-name: ${{ inputs.year }}  ${{ inputs.burstId }} ${{ inputs.polarization }} ${{ inputs.looks }} ${{ inputs.npairs }} 

on:
  workflow_dispatch:
    inputs:
      burstId:
        type: string
        required: true
        description: ESA Burst Identifier (RelativeObit, ID, Subswath)
        default: '012_023790_IW1'
      polarization:
        type: choice
        required: true
        description: Polarization
        default: 'VV'
        options: ['VV', 'VH', 'HH']
      looks:
        type: choice
        required: true
        description: Range x Azimuth Looks
        default: '20x4'
        options: ['20x4','10x2','5x1']
      year:
        type: string
        required: true
        description: Year
        default: '2024'
      npairs:
        type: choice
        required: true
        description: Number of Pairs per Reference
        default: '3'
        options: ['3','2','1']
  
  # Must duplicate inputs for workflow_call (https://github.com/orgs/community/discussions/39357)
  workflow_call:
    inputs:
      burstId:
        type: string
        required: true
      polarization:
        type: string
        required: true
      looks:
        type: string
        required: true
      year:
        type: string
        required: true
      npairs:
        type: string
        required: true


# Convert inputs to environment variables for all job steps
env:
  BurstId: ${{ inputs.burstId }}
  Year: ${{ inputs.year }}
  Polarization: ${{ inputs.polarization }}
  Looks: ${{ inputs.looks }}
  NPairs: ${{ inputs.npairs }}

jobs:
  searchASF:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      BURST_IDS: ${{ steps.asf-search.outputs.BURST_IDS }}
      MATRIX: ${{ steps.asf-search.outputs.MATRIX_PARAMS_COMBINATIONS }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          cache-environment: true
          environment-file: environment.yml

      # Call python script that sets needed environment variables for next job
      - name: Search ASF for bursts
        id: asf-search
        run: | 
          python scripts/getBurstPairs.py

  hyp3-isce2:
    needs: searchASF
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.searchASF.outputs.MATRIX) }}
    uses: ./.github/workflows/insar_pair.yml
    with:
      reference: ${{ matrix.reference }}
      secondary: ${{ matrix.secondary }} 
      burstId: ${{ inputs.burstId }}
      polarization: ${{ inputs.polarization }}
      looks: ${{ inputs.looks }}
      jobname: ${{ matrix.name }}
    secrets: inherit